body {
    font-family: 'Poppins', sans-serif;
    color: #111;
  }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #000000;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5rem;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #000000;
  border-radius: 2px;
}

.nav-links {
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background: #172f48;
  border-radius: 5px;
  padding: 10px;
}

.nav-links li {
  margin: 10px 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

/* Toggle class via JS */
.nav-links.active {
  display: flex;
}





